:root{
    --base-color: rgb(76, 143, 224);
}

* {
    box-sizing: border-box;
    margin:0;
    padding:0;

    font-family: Helvetica, sans-serif;
}

body {
    height:100vh;
    width: 100vw;

    display: grid;
    grid-template: 155px 1fr / 250px 1fr;
    grid-template-areas: "sidebar header"
                         "sidebar main";
}

a {
    text-decoration: none;
    color: inherit;
}

.sidebar{
    grid-area: sidebar;
    
    background-color: var(--base-color);
    font-family: Helvetica, sans-serif;
    color: white;

    display: flex;
    flex-direction: column;
    gap:50px;
}

.logo-container{
    padding-top:10px;
    padding-left: 15px;

    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 1.5rem;
    font-weight: 800;
}

.sidebar ul{
    display: flex;
    flex-direction: column;
}

.sidebar li {
    padding-left: 20px;
    padding: 10px 0 10px 15px;
    
    display: flex;
    align-items: center;
    gap:15px;

    border: 1px solid rgba(69, 69, 69, 0);
    font-weight: 200;

    transition-duration: 100ms;
}

.sidebar li:hover {
    border: 1px solid rgba(69, 69, 69, 0.664);
    box-shadow: inset 0 0 5px rgba(70, 70, 70, 0.572);
    transform: translateY(2px);
}

.sidebar ul img{
    width:25px;
}

header{
    padding-bottom: 50px;
    z-index: 2;

    grid-area: header;

    display:flex;
    flex-direction: column;

    box-shadow: 0 0 12px rgba(17, 17, 17, 0.4);
}

.upper-head{
    height: 80px;
    width: 100%;
    padding: 0 20px;

    display: flex;
    justify-content:space-between;
    gap:7%;
}

.upper-head a{
    transition-duration: 100ms;
}

.upper-head a:not(p):hover{
    transform: translateY(-2px) ;
}

.search-container{
    width:250px;
    flex:1 0 auto;

    display:flex;
    align-items: center;
    gap: 20px;
}

.upper-head img{
    width:25px;
}

.upper-head img.pfp{
    width:50px;
    clip-path: circle();
}

.search-container input{
    width: 100%;
    height: 25px;
    border-radius: 12.5px;
    padding-left: 20px;
    
    font-size: 15px;

    border: none;
    background-color: #ececec;

    transition-duration: 120ms;
    outline: solid 1px rgba(125, 125, 125, 0);
}

.search-container input:focus{
    outline: solid 1px rgba(125, 125, 125, 0.075);
    box-shadow: 0 1px 6px rgba(17, 17, 17, 0.432);
}

.account-shortcuts{
    padding-right: 5%;

    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}

.account-shortcuts p{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px 0;
}

.lower-head{
    padding: 0 30px;
    
    display:flex;
    align-items: center;
    gap: 20px;
}

.account-title{
    width:550px;
    flex:1 0 0;

    display: grid;
    grid-template: 1fr 1fr / 100px 1fr;
    grid-template-areas: "pic greeting"
                   "pic title";
}

.account-title img{
    width:70px;
    clip-path: circle();

    grid-area: pic;
    justify-self: center;
}

.account-title .greeting {
    grid-area: greeting;
    align-self:end;
}

.account-title .account{
    grid-area: title;
    align-self: start;

    font-size: 24px;
    font-weight: 700;
}

.account span{
    font-weight: 500;
}

.main-buttons{
    align-self: end;

    display: flex;
    justify-content: center;
    flex:1;
    gap:30px;
}

.main-buttons a{
    appearance: none;
    height: 50px;
    width: 120px;
    border-radius: 25px;

    font-size:20px;
    font-weight: 700;
    
    display:grid;
    place-items: center;

    background-color: var(--base-color);
    color: white;
    box-shadow: inset 0 2px 5px rgba(70, 70, 70, 0);
    border:none;

    transition-duration: 120ms;
}

.main-buttons a:hover{
    box-shadow: 0 2px 5px rgba(70, 70, 70, 0.386);
    transform: translateY(-1px);
}

.main-buttons a:active{
    box-shadow: 0 2px 5px rgba(70, 70, 70, 0),
                inset 0 2px 7px rgba(70, 70, 70, 0.549);
    transform: translateY(0);
}

main{
    padding: 30px 40px;
    background-color: #ececec;
    z-index: 1;

    grid-area: main;
    
    display: grid;
    grid-template: 1fr 1fr / 1fr 300px;
    grid-template-areas: "projects announce"
                         "projects trending";
}

main h3{
    padding-bottom: 10px;
}

.projects{
    padding-right: 20px;
    grid-area: projects;
    max-height: 100%;

    display: flex;
    flex-direction: column;
}

.card-container{
    padding: 5px 0;
    flex: 1; 
    
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-auto-rows: 1fr;
    gap: 20px;

    overflow:auto;
}

.card{
    padding: 20px 30px 10px 30px;

    background-image: linear-gradient(to right,rgb(243, 198, 0) 3%, white 3% );
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(125, 125, 125, 0.4);

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card .title{
    font-size: 1em;
    font-weight: 600;
}

.card .preview{
    position: relative;
    height: 80%;
    overflow: hidden;

    font-size: 0.85em;
    color: #a1a1a1;
}

.card .preview::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 30px);
}

.card .actions{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.actions img{
    width: 25px
}

.actions a:hover{
    transform: translateY(-1px);
}

.announcements{
    grid-area: announce;
}

.trending{
    grid-area: trending;
}
